
body {
  overflow-x: hidden; /* Remove a rolagem horizontal da página */
}

.jumbotron {
  background-color: #f8f9fa;
}

.feature-icon {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn-primary:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
}

.navbar-nav .nav-item .nav-link {
  color: black;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #f0f0f0; 
  transform: translateY(-5px);
}

.navbar-brand:hover {
  transform: scale(1.1); 
}

.navbar-brand .feature-icon {
  font-size: 0.8em; 
  margin-right: 5px; 
}



#jumbotron-img {
  width: auto;
  height: 500px;
  padding: 50px;
  background-image: url('../img/jumbroton.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

footer p {
  font-size: 1.2rem;
}

img {
  border-radius: 8px;
}

.fab.fa-facebook-square,
.fab.fa-instagram,
.fab.fa-linkedin,
.fab.fa-whatsapp-square {
  transition: color 0.3s ease-in; 
}

.fab.fa-facebook-square:hover,
.fab.fa-instagram:hover,
.fab.fa-linkedin:hover,
.fab.fa-whatsapp-square:hover {
  transform: scale(1.2); 
}

.fab.fa-facebook-square {
  color: #3b5998;
}

.fab.fa-instagram {
  color: #e4405f; 
}

.fab.fa-linkedin {
  color: #0077b5; 
}

.fab.fa-whatsapp-square {
  color: #25d366; 
}

.feature-icon-html {
  color: #e34c26;
  font-size: 35px;
}

.feature-icon-css {
  color: #2965f1;
  font-size: 35px; 
}

.feature-icon-js {
  color: #f0db4f;
  font-size: 35px;
}

.zoom-on-hover {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* A área do formulário permanecerá inalterada */
