.jumbotron {
    background-color: #f8f9fa;
  }
  .feature-icon {
    font-size: 3rem;
    margin-bottom: 20px;
  }

.navbar-brand {
    font-size: 2rem;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

footer p {
    font-size: 1.2rem;
}

img{
    border-radius: 8px;
}